//Footer
/* footer {
  @include display(flex);
  @include justify-content(space-between);
  width: 100%;

  &.dark {
    background: rgba(0,0,0,1);  
  }
} */

//Footer Buttons
/* footer .btn {  
  @include flex(0 0 auto);
  color: $red; 
} */

.test {
  align-items: flex-start;
}
