.page-header {
  // width: 270px;
  height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.1px;
  text-align: left;
}
