.ui.secondary.pointing.menu {
  background-color: var(--color-primary);
  margin-left: 0;
  margin-right: 0;

  .item {
    color: var(--color-light);
  }
}

.nav-menubar-wrapper {
  .nav-link {
    display: none !important;
  }
}

.nav-search-wrapper {
  display: none !important;
}

@media (orientation: landscape) and (min-width: 1170px) {
  .nav-menubar-wrapper {
    .nav-link {
      display: block !important;
    }
  }

  .nav-search-wrapper {
    display: flex !important;
  }
}
