@keyframes bounce1 {
    25% {
        transform: translateY(-5px);
    } 
  }
  @keyframes bounce2 {
    50% {
        transform: translateY(-5px);
    } 
  }
  @keyframes bounce3 {
    75% {
        transform: translateY(-5px);
    } 
  }
  .one {
    display: inline-block;
    animation: bounce1 1s linear infinite;
  }
  .two {
    display: inline-block;
    animation: bounce2 1s linear infinite;
  }
  .three {
    display: inline-block;
    animation: bounce3 1s linear infinite;
  }