body {
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  color: white;
  filter: drop-shadow(1px 1px 1px black);
}

img.App-logo {
  height: 50%;
  margin-top: 10%;
  width: 600px;
  margin-bottom: -0px;
}

.App-headline {
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black;
}
.App-landing {
  min-height: 90vh;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-first-section {
  width: 100%;
}
  
.App-Body {
  margin-bottom: 65px;
}

/* .App-landing input, .DiyB-mailing-list input {
} */

.App-search-results {
  width: 500px;
  border-radius: 2rem;
  border-width: thin;
  text-align: left;
  padding-left: 30px;
  font-size: 20px;
  padding-top: 15px;
  border-color: #96cb44;
  border-style: solid;
  color: black;
  background: #fff;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0 0 24px 24px;
  box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
  padding-bottom: 4px;
  overflow: hidden;
  
}

/* ============================================== B U T T O N S ====================================================== */

.App button, .DiyA button, .DiyB button {
  display: flex;
  border-radius: 1rem;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: 25px;
  font-size: 17px;
  display: inline-block;
  border-width: thin;
  border-style: solid;
}
/* onHover and onClick, apply filter: drop-shadow(1px 1px 1px black); */

.DiyB button {
  padding-bottom: 3px;
}

.App-search-buttons {
  display: flex;
  width: 290px;
  margin: auto;
  justify-content: space-evenly;
}

.DiyB-buttons {
  display: flex;
  width: 170px;
}
.DiyB-buttons button {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
}
.DiyB-mailing-list button {
  width: 215px;
  height: 39px;
  border-radius: 0 2rem 2rem 0;
  border-style: solid;
  border-width: thin;
  background: #96cb44;
}

/* ====================================== E N D == O F == B U T T O N ====================================================== */

.DiyA-images-container p {
  color: #0296f5;
  text-align: center;
  margin-bottom: 30px;
  font-size: 23px;
}
.DiyA-images img {
  margin-bottom: 40px;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  border-style: solid;
  border-color: #dae3f4;
  border-width: thick;
}
.DiyA-images-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 249px;
}
.DiyA-images {
  width: 600px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 249px;
}

img.App-printer {
  height: 550px;
}

img.App-canoe, img.App-AR1, img.App-carpetcleaner, img.App-mochaPot, .DiyB-imagesB img {
  height: 300px;
  margin-top: 30px;
  width: 300px;
}
.DiyB-imagesB img {
  margin-top: 30px;
}

.DiyB-imagesB {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 87vw;
  margin-top: 35px;
}

.App-landing, .DiyA, .Featured-categories, .DiyB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.App-landing input, .DiyB-mailing-list input {
  border-radius: 2rem;
  border-width: thin;
  text-align: left;
  padding-left: 30px;
  height: 25px;
  font-size: 20px;
  border-color: black;
  padding-bottom: 20px;
  padding-top: 15px;
  border-color: #96cb44;
  border-style: solid;
}
  
.App-landing input {
  width: 500px;
}
.DiyB-mailing-list input {
  width: 300px;
  border-radius: 2rem 0 0 2rem;
  margin-top: 10px;
  margin-right: 10px;
  height: 39px;
}
.App-link {
  color: orange;
  font-size: 20px;
  filter: drop-shadow(1px 1px 1px black);
}

.Featured-content {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  text-shadow: 0px 0px black, 0px 0px black;
  /* color: #731963 */
  /* color: #4a154b; */
}

.Featured-content-1, .Featured-content-2, .Featured-content-3 {
  height: 400.8;
  width: 300;
  padding: 15px 15px 15px 15px;
  /* border-style: groove; */
  background-color: orange;
  color: white;
  text-align: center;
}

.Featured-categories-list {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-bottom: 20px;
  margin-top: 33px;
}

.Featured-categories {
  margin-bottom: 70px;
  filter: drop-shadow(-1px -1px -1px black);
}

.Featured-list {
  display: flex;
  width: 200px;
  margin: 50px 10px 50px 10px;
}

.Featured-list h5 {
  margin-bottom: 20px;
}

.Featured-list label {
  margin: 0 0px 15px 15px;
  font-weight: unset;
}

.Featured-radioButtons {
  margin-top: 55px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

.DiyA-headline p {
  color: orange;
  font-weight: bolder;
  font-size: 55px;
  /* text-shadow: 0px 0px black, -1px -1px black; */
  text-shadow: 0px 0px black, 0px 0px #dae3f4;
}

.DiyA button {
  width: 240px;
  height: 60px;
  border-radius: 5rem;
  /* background-color: #318fe6; */
  background-color: #96cb44;
  box-shadow: black 0.4px 0.4px, black 0.4px 0.4px;
}

.DiyB-imagesC button {
  width: 240px;
  height: 55px;
  border-radius: 5rem;
  /* background-color: #318fe6; */
  background-color: #96cb44;
  margin-top: 15px;
}

.DiyA h2 {
  margin-top: 5px;
  color: white;
  text-shadow: 0px 0px black, 0px 0px black;
}

.DiyA-headline {
  margin-block-end: auto;
  width: inherit;
  margin-top: 100px;
  margin-left: 317px;
}

.DiyA-headline h2 {
  text-shadow: black 0.4px 0.4px, black 0.4px 0.4px;
}

.DiyB-imagesA {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
  margin-top: 5%;
}

.DiyB-images-right img {
  display: flex;
  flex-direction: column;
  height: 225px;
  width: 300px;
  justify-content: space-between;
  margin-top: 30px;
}

.DiyB-summary {
  width: 500px;
  height: 550px;
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%
}

.DiyB-summary p {
  width: 400px;
}

.DiyB-buttons svg {
  color: #96cb44;
  margin: 8px 0px 0px 15px;
}

.DiyB-slideshow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 125px;
}

.DiyB-imagesC-2 h1, .DiyB-imagesC-2 p, .DiyB-imagesC-1 h1, .DiyB-imagesC-1 p {
  margin-bottom: 0px;
}

.DiyB-imagesC-1-background {
  height: 500px;
  width: 400px;
  margin-top: 100px;
}

.DiyB-imagesC-2-background {
  height: 500px;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 75px;
}

.DiyB-imagesC {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 10px;
}

.DiyB-imagesC button {
  color: white;
  text-shadow: 0.4px 0.4px black, 0.4px 0.4px black;
}

.DiyB-imagesC-1, .DiyB-imagesC-2 {
  display: flex;
  flex-direction: column;
  margin-top: 60%;
  padding-left: 6%;
  align-items: center;
  color: white;
}

.DiyB-imagesC-1 h5, .DiyB-imagesC-2 h5 {
  text-transform: lowercase;
}

.userCircle {
  font-size: 75px;
  color: #96cb44;
  margin: -45px 0px 0px -35px;
}

.thumbsUp {
  font-size: 25px;
  color: white;
  margin-left: 360px;
  margin-top: 0px;
}

.stars {
  color: orange;
  font-weight: 800;
  filter: drop-shadow(1px 1px 1px black);
}

.DiyB-mailing-list {
  margin-top: 97px;
  margin-bottom: 160px;
  text-align: center;
}

.DiyB-email-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}