.App {
  text-align: center;
}

.App-logo {
  color: white;
  filter: drop-shadow(1px 1px 1px black);
}

.App-headline {
  font-weight: bolder;
  color: white;
  text-shadow: 1px 1px black, -1px -1px black;
}

.App button, .DiyA button, .DiyB button {
  display: flex;
  border-radius: 1rem;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
  height: 25px;
  font-size: 17px;
  display: inline-block;  
}

.App-search-buttons {
  display: flex;
  width: 290px;
  margin: auto;
  justify-content: space-evenly;
}

.DiyB-buttons {
  display: flex;
  width: 170px;
  padding-left: 5px;
  justify-content: space-evenly;
}
.DiyB-buttons button {
  display: flex;
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  /* padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 5px; */
}
.DiyB-mailing-list button {
  width: 215px;
  height: 39px;
  border-radius: 0 2rem 2rem 0;
}

img.App-logo {
  height: 50%;
  margin-top: 10%;
  width: 600px;
  margin-bottom: -0px;
}

.DiyA-images p {
  color: blue;
}
.DiyA-images img {
  margin-bottom: 10px;
  border-radius: 50%;
  height: 130px;
  width: 130px;
}
.DiyA-images content {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 249px;
}

/* .DiyA-images content {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 249px;
} */

img.App-printer {
  height: 550px;
}

img.App-canoe, img.App-AR1, img.App-carpetcleaner, img.App-blender, img.App-camera, .DiyB-imagesB img {
  height: 300px;
  margin-top: 30px;
  width: 300px;
}
.DiyB-imagesB img {
  height: 225px;
  margin-top: 30px;
  width: 315px;
}

.DiyB-imagesB {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 87vw;
}

.App-landing, .DiyA, .Featured-categories, .DiyB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.App-landing {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: black;
}
.App-first-section {
  width: 100%;
}
  
  .App-Body {
    margin-bottom: 65px;
  }
  
  .App-landing input, .DiyB-mailing-list input {
    border-radius: 2rem;
    text-align: left;
    padding-left: 30px;
    height: 25px;
    font-size: 20px;
    border-color: black;
    padding-bottom: 20px;
    padding-top: 15px;
  }
  
.App-landing input {
  width: 500px;
}
.DiyB-mailing-list input {
  width: 300px;
  border-radius: 2rem 0 0 2rem;
  margin-top: 10px;
}
.App-link {
  color: orange;
  font-size: 20px;
  filter: drop-shadow(1px 1px 1px black);
}

.Featured-content {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
}

.Featured-categories-list {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  width: 75%;
  margin-bottom: 20px;
  margin-top: 33px;
}

.Featured-categories {
  margin-bottom: 70px;
}

.Featured-list {
  display: flex;
  width: 200px;
  /* margin-left: 30px;
  margin-top: 30px; */
  margin: 50px 10px 50px 10px;
}

.Featured-list h5 {
  margin-bottom: 20px;
}

.Featured-list label {
  margin: 0 0px 15px 15px;
}

.Featured-radioButtons {
  /* height: 10vh; */
  margin-top: 55px;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
}

.DiyB-imagesA {
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10%;
  margin-top: 5%;
}

.DiyB-images-right img {
  display: flex;
  flex-direction: column;
  height: 225px;
  justify-content: space-between;
}

.DiyB-summary {
  width: 500px;
  height: 550px;
  margin-top: 100px;
  margin-left: 2%;
  margin-right: 2%
}

.DiyA h1 {
  color: orange;
  font-weight: bolder;
  text-shadow: 0px 0px black, -1px -1px black;
}

.DiyA button {
  width: 240px;
  height: 60px;
  border-radius: 5rem;
}
.DiyA h2 {
  margin-top: 5px;
}

.DiyA-headline {
  margin-block-end: auto;
  width: inherit;
  margin-top: 170px;
  margin-left: 317px;
}

.DiyB-slideshow-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 125px;
}

img.App-drone {
  height: 550px;
  width: 400px;
  margin-top: 100px;
}

img.App-arduino {
  height: 550px;
  width: 400px;
  margin-top: 200px;
  margin-bottom: 75px;
}


.DiyB-imagesC {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.DiyB-mailing-list {
  margin-top: 97px;
  margin-bottom: 160px;
}

.DiyB-email-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}